.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    transition: linear 250ms;
    transform: scale(0.6);

    button {
        display: none;
    }
}

.wrapperActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    transition: linear 250ms;
    transform: scale(1);
    gap: 10px;

    .button {
        height: 40px;
        width: 40px;
        border-radius: 50%;

        border: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.back {
       
            left: -50px;
        }

        &.next {
       
            right: -50px;
        }
    }
}

.card {
    border-radius: 10px;
    background-color: tomato;
    height: 400px;
    width: 200px;
}

.cardActive {
    border-radius: 10px;
    background-color: tomato;
    height: 400px;
    width: 200px;
}
